*.o
*.gch
*.bin
*.lst
*.sym
*.a
.gdb_history
.idea
core
hdd.img
tags
System.map
kernel
bin/cat
bin/init
bin/cdc
bin/cosh
bin/cp
bin/echo
bin/ln
bin/ls
bin/mkdir
bin/mv
bin/ps
bin/pwd
bin/reset
bin/rm
bin/tdup
bin/test_append
bin/test_fork
bin/test_malloc
bin/test_sbrk
bin/test_write
bin/tpipe
bin/truncate
bin/test_loop
bin/fault
bin/ansi
util/mkcofs
util/mkinitrd
util/find_func
